.first{ 
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    background-color: red;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
    

}
#welcome-section{
  z-index: index 1;
  height:700px;
  min-width:100%;
  color:black;
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  align-items:center;
  left:0;
  top:0;
 
}
p{
  color:black;

}
.nav-list{
  display:flex;
  margin-right:2rem;
}
a{
  text-decoration:none;
  color:white;
}
.nav-list a{
  display:block;
  font-size:2.2rem;
  padding:2rem;
}
ul{
  list-style:none;
}
p{
  width:350px;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px; 
  margin-top: 4rem;
  flex-wrap: wrap;
}
.project{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  background-color:rgb(239, 249, 250);
  list-style:none;
}
.Achievements{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  background-color:rgb(238, 245, 245) ;
  
}
.details{
  padding-right:10px;
}
.contact-links{
  color:white;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  background-color:black;
  padding:20px;
  margin:0px;
  max-width:unset;
  list-style:none;
}
.color{
  color:black;
}
.white{
  color:black;
  width:100%;
  display:flex;
  justify-content: center;
}
.myself{
  color:red;
}
.img{
  display:flex;
  border-radius: 50%;
}